{% extends 'base.html.twig' %}

{% block title %}Traitement des données{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Affichage des données traitées</h1>

    {# Affichage du message si des lettres ont été mises en majuscules #}
    {% if changedUppercase %}
        <div class="alert alert-info">
            <strong>Note :</strong> Toutes les lettres minuscules dans le fichier ont été converties en majuscules.
        </div>
    {% endif %}

    {# Affichage du message si des accents ou des apostrophes ont été supprimés #}
    {% if changedAccentsApostrophes %}
        <div class="alert alert-info">
            <strong>Note :</strong> Tous les accents ont été enlevés et les apostrophes ont été supprimées.
        </div>
    {% endif %}

    {# Affichage du message si des codes postaux ont été modifiés #}
    {% if changedPostalCodes %}
        <div class="alert alert-info">
            <strong>Note :</strong> Les codes postaux ont été vérifiés et corrigés si nécessaire (ajout de zéros devant pour les codes français en cas d'oublie).
        </div>
    {% endif %}

    {# Affichage du message si des cellules ont moins de 38 caractères #}
    {% if cellLengthErrorCount > 0 %}
        <div class="alert alert-danger">
            <strong>Erreur :</strong> Il y a {{ cellLengthErrorCount }} ligne(s) contenant une ou plusieurs cellules avec plus de 38 caractères.
        </div>
    {% endif %}

    <!-- Tableau des données -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for title in selected_column_titles %}
                        <th>{{ title|default('') }}</th>  {# Assurez-vous d'afficher un en-tête vide si nécessaire #}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rowIndex, row in filtered_data %}
                    <tr>
                        {% for cellIndex in selected_columns %}
                            <td {% if [rowIndex, cellIndex] in errorCells %}style="background-color: red;"{% endif %}>
                                {{ row[cellIndex] | default('') }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bouton de retour -->
    <form action="{{ path('app_display') }}" method="get" class="mt-4">
        <button class="btn btn-light-warning" type="submit">Retour à l'Affichage</button>
    </form>
</div>
{% endblock %}
