{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block stylesheets %}
    {% include 'theme/link.html.twig' %}
{% endblock %}

{% block body %}

<h2>Les données filtrées</h2>

{% if filtered_data is not empty and selected_columns is not empty %}
    <table class="table table-striped">
        <thead>
            <tr>
                {% for col in selected_columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in filtered_data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune donnée à afficher.</p>
{% endif %}


<form action="{{ path('app_display') }}" method="get" class="mt-4">
    <button class="btn btn-light-warning" type="submit">Retour à l'Affichage</button>
</form>

{% endblock %}
